/*! ------------------------------------------------
   Project Name: Allurio - Coming Soon & Portfolio Template
   Project Description: Allurio - versatile and trendy coming soon & portfolio template to kick-start your project
   Tags: allurio, coming soon, under construction, template, coming soon page, landing page, portfolio, one page, html5, css3
   Version: 1.0.0
   Build Date: September 2019
   Last Update: September 2019
   This product is available exclusively on Themeforest
   Author: mix_design
   Author URI: http://mixdesign.club
   File name: loader-dark.css
   ------------------------------------------------

   ------------------------------------------------
   Table of Contents
   ------------------------------------------------
    1. Loader Styles
   ------------------------------------------------
   Table of Contents End
   ------------------------------------------------ */
/* ------------------------------------------------*/
/* Loader Styles Start */
/* ------------------------------------------------*/
.loader {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  background-color: #191919;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all .6s ease-in-out;
  -o-transition: all .6s ease-in-out;
  -moz-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
}

.loader.loaded {
  opacity: 0;
  visibility: hidden;
}

.loader .loader-content {
  position: absolute;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
     -moz-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}

.loader .loader-content .loader-logo {
  width: 160px;
}

.loader .loader-content .loader-logo img {
  display: block;
  width: 100%;
  height: auto;
}

@-webkit-keyframes scaleOut {
  from {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale3d(1.16, 1.16, 1.16);
            transform: scale3d(1.16, 1.16, 1.16);
    opacity: 0;
  }
}

@-moz-keyframes scaleOut {
  from {
    -moz-transform: scale3d(1, 1, 1);
         transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  to {
    -moz-transform: scale3d(1.16, 1.16, 1.16);
         transform: scale3d(1.16, 1.16, 1.16);
    opacity: 0;
  }
}

@keyframes scaleOut {
  from {
    -webkit-transform: scale3d(1, 1, 1);
       -moz-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
    opacity: 1;
  }
  to {
    -webkit-transform: scale3d(1.16, 1.16, 1.16);
       -moz-transform: scale3d(1.16, 1.16, 1.16);
            transform: scale3d(1.16, 1.16, 1.16);
    opacity: 0;
  }
}

.scaleOut {
  -webkit-animation: scaleOut .6s 1;
     -moz-animation: scaleOut .6s 1;
          animation: scaleOut .6s 1;
  -webkit-animation-fill-mode: both;
     -moz-animation-fill-mode: both;
          animation-fill-mode: both;
}
